$space-large: 2.5rem;
$title-color: lightblue;
.page-title{
  margin-top: $space-large;
  margin-bottom: $space-large;
  font-family: monospace;
  color: $title-color;
}

input[type=search] {
  box-shadow: none;
}

#img-icon{
  width:50%;
  display:block;
  margin:auto;
}
